@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" id="saved-theme" value="@ViewBag.mode" />
<div class="table-container">
    <h2 style="text-align: center; font-family: monospace; color: #5b4e77; margin-bottom: 20px;">
        🚀 Današnje stanje na trgu kriptovalut 🚀
    </h2>
    <table data-show-multi-sort class="table table-striped striped-table table-hover align-middle table-dark"
        id="mainpage-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Price (@ViewBag.CurSymbol)</th>
                <th>Supply</th>
                <th>Max Supply</th>
                <th>Market Cap (@ViewBag.CurSymbol)</th>
                <th>24Hr Volume (@ViewBag.CurSymbol)</th>
                <th>Change 24Hr (%)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crypto in Model)
            {
                <tr>
                    <td>@crypto.Rank</td>
                    <td><strong>@crypto.Name</strong> <span>(@crypto.Symbol)</span></td>
                    <td>@{
                            //dolar se spremeni po potrebi iz nastavitev
                            //popravi vejice na 1000ice
                            string currentRateString = ViewBag.CurrentRate.ToString();
                            string priceUsd = crypto.PriceUsd;
                            string formattedPrice = "Invalid Price";

                            if (!string.IsNullOrWhiteSpace(priceUsd) && priceUsd.Contains("."))
                            {
                                // Parse strings to decimal
                                decimal price = decimal.Parse(priceUsd, System.Globalization.CultureInfo.InvariantCulture);
                                decimal currentRate = decimal.Parse(currentRateString,
                                System.Globalization.CultureInfo.InvariantCulture);

                                // Divide price by current rate
                                decimal adjustedPrice = price / currentRate;
                                //Console.WriteLine(adjustedPrice + " " + priceUsd);
                                //int dotIndex = priceUsd.IndexOf(".");
                                //formattedPrice = priceUsd.Substring(0, dotIndex + 3); // Include up to 2 decimals
                                formattedPrice = adjustedPrice.ToString("N2", System.Globalization.CultureInfo.InvariantCulture);
                            }

                            @formattedPrice
                            @ViewBag.CurrentSymbol
                        }
                    </td>
                    <td class="supply">
                        @{
                            string supply = crypto.Supply;
                            string formattedSupply = "Invalid Supply";

                            if (!string.IsNullOrWhiteSpace(supply) && supply.Contains("."))
                            {
                                int dotIndex = supply.IndexOf(".");
                                formattedSupply = supply.Substring(0, dotIndex); // po potrebi
                            }

                            @formattedSupply
                        }
                    </td>
                    <td class="msupply">@{
                            string MaxSupply = crypto.MaxSupply;
                            string formattedMaxSupply = "N/A";

                            if (!string.IsNullOrWhiteSpace(MaxSupply) && MaxSupply.Contains("."))
                            {
                                int dotIndex = MaxSupply.IndexOf(".");
                                formattedMaxSupply = MaxSupply.Substring(0, dotIndex);
                            }

                            @formattedMaxSupply
                        }
                    </td>
                    <td class="mcap">@{
                            string marketCapUsd = crypto.MarketCapUsd;
                            string formattedMarketCapUsd = "N/A";
                            currentRateString = ViewBag.CurrentRate?.ToString();

                            if (!string.IsNullOrWhiteSpace(marketCapUsd) && marketCapUsd.Contains("."))
                            {
                                // Parse strings to decimal
                                decimal marketCap = decimal.Parse(marketCapUsd, System.Globalization.CultureInfo.InvariantCulture);
                                decimal currentRate = decimal.Parse(currentRateString,
                                System.Globalization.CultureInfo.InvariantCulture);

                                // Adjust market cap by the current rate
                                decimal adjustedMarketCap = marketCap / currentRate;
                                //int dotIndex = marketCapUsd.IndexOf(".");
                                //formattedMarketCapUsd = marketCapUsd.Substring(0, dotIndex);
                                formattedMarketCapUsd = adjustedMarketCap.ToString("N0",
                                System.Globalization.CultureInfo.InvariantCulture);
                            }

                            @formattedMarketCapUsd
                            @ViewBag.CurrentSymbol
                        }
                    </td>
                    <td class="volume">@{
                            string volumeUsd24Hr = crypto.VolumeUsd24Hr;
                            string formattedvolumeUsd24Hr = "N/A";
                            currentRateString = ViewBag.CurrentRate?.ToString();

                            if (!string.IsNullOrWhiteSpace(volumeUsd24Hr) && volumeUsd24Hr.Contains("."))
                            {
                                // Parse strings to decimal
                                decimal volume = decimal.Parse(volumeUsd24Hr, System.Globalization.CultureInfo.InvariantCulture);
                                decimal currentRate = decimal.Parse(currentRateString,
                                System.Globalization.CultureInfo.InvariantCulture);
                                // Adjust volume by the current rate
                                decimal adjustedVolume = volume / currentRate;
                                //int dotIndex = volumeUsd24Hr.IndexOf(".");
                                //formattedvolumeUsd24Hr = volumeUsd24Hr.Substring(0, dotIndex);
                                formattedvolumeUsd24Hr = adjustedVolume.ToString("N0",
                                System.Globalization.CultureInfo.InvariantCulture);
                            }

                            @formattedvolumeUsd24Hr
                            @ViewBag.CurrentSymbol
                        }
                    </td>
                    <td class="change">@{
                            string changePercent24Hr = crypto.ChangePercent24Hr;
                            string formattedchangePercent24Hr = "N/A";

                            if (!string.IsNullOrWhiteSpace(changePercent24Hr) && changePercent24Hr.Contains("."))
                            {
                                int dotIndex = changePercent24Hr.IndexOf(".");
                                formattedchangePercent24Hr = changePercent24Hr.Substring(0, dotIndex + 3);
                            }

                            @formattedchangePercent24Hr
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

    for (let i = 0; i < 100; i++) {
        value = document.getElementsByClassName('change')[i].innerHTML;
        value = parseFloat(value);
        if (value > 0) {
            document.getElementsByClassName('change')[i].classList.toggle("up");
            svg_up = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>`;
            document.getElementsByClassName('change')[i].innerHTML = svg_up + ' ' + value;
        }
        else {
            document.getElementsByClassName('change')[i].classList.toggle("down");
            svg_down = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>`;
            document.getElementsByClassName('change')[i].innerHTML = svg_down + ' ' + value;
        }
    }

    @*     for (let i = 0; i < 100; i++) {
        value = document.getElementsByClassName('mcap')[i].innerHTML;
        value = BigInt(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        document.getElementsByClassName('mcap')[i].innerHTML = "$" + value;
    } *@

    @*     for (let i = 0; i < 100; i++) {
        value = document.getElementsByClassName('volume')[i].innerHTML;
        value = BigInt(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        document.getElementsByClassName('volume')[i].innerHTML = "$" + value;
    } *@

    for (let i = 0; i < 100; i++) {
        value = document.getElementsByClassName('supply')[i].innerHTML;
        value = BigInt(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        document.getElementsByClassName('supply')[i].innerHTML = value;
    }

    for (let i = 0; i < 100; i++) {
        value = document.getElementsByClassName('msupply')[i].innerHTML;
        if (value == "N/A                    ") {
            document.getElementsByClassName('msupply')[i].innerHTML = value;
        }
        else {
            value = BigInt(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
            document.getElementsByClassName('msupply')[i].innerHTML = value;
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const savedThemeInput = document.getElementById("saved-theme");
        const table = document.getElementById("mainpage-table");

        // Apply the initial theme based on the value of the hidden input
        const applyTheme = (theme) => {
            document.body.className = theme === "dark" ? "dark-mode" : "light-mode";
            if (theme === "dark") {
                table.classList.add("table-dark");
            } else {
                table.classList.remove("table-dark");
            }
        };

        // Initialize theme on page load
        applyTheme(savedThemeInput.value);

        // Observe changes to the input value
        const observer = new MutationObserver(() => {
            applyTheme(savedThemeInput.value);
        });

        // Start observing the hidden input for changes to the `value` attribute
        observer.observe(savedThemeInput, { attributes: true, attributeFilter: ["value"] });
    });
</script>