@model web.Models.PortfolioPerformance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortfolioPerformance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialInvestment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialInvestment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portfolio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portfolio.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
